*{
    margin: 0;
    padding: 0;
}

/**********************
     costom font link
********************** */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&family=Rubik:wght@300;400&family=Ubuntu&family=Work+Sans:ital,wght@1,200&display=swap');

/* ****************************
            header
*******************************/
header{
    background-color: #6fa176;
    padding: 20px;
}

.logo img{
    height: 20px;
    align-items: center;
    justify-content: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
}
.manu-btn ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
}
.manu-btn ul li{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}
.manu-btn ul li:hover{
    opacity: 0.8;
    color: #00171F;
}

/* ****************************
            home
*******************************/
.home-info :nth-child(1){
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}
.home-info:nth-child(2){
    font-size: 20px;
}
.p-color{
    color: orange;
}
.home-info img{
    width: 20px;
}
.buy-btn{
    background-color: lightskyblue;
    padding: 8px 15px;
    border: 0;
    border-radius: 10px;
    margin-top: 10px;
}